.now-playing {
    background-color: #282828;
    border-top: 1px solid #000;
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main ."
      "footer footer footer footer";

    .playing-wrapper {
        grid-area: sidebar;
    }
    .inner-now-playing {
        grid-area: main;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .controls-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-self: center;
            width: 150px;

            .control-button {
                color: #b3b3b3;
                position: relative;
                width: 32px;
                min-width: 32px;
                height: 32px;

                &.play {
                    border: 1px solid #b3b3b3;
                    border-radius: 32px;
                }

                svg {
                    position: relative;
                    top: -3px;
                    left: -3px;
                    height: 15px;
                    width: 15px;
                }
            }
        }

        .playback-bar {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 45%;
            max-width: 722px;
            align-self: center;
            align-items: center;

            .playback-progress-bar {
                width: 100%;
                margin: 0 10px;

                .progress-bar-inner {
                    background-color: #b3b3b3;
                    border-radius: 2px;
                    height: 4px;
                    width: 100%;
                }
            }
        }
    }
}
