ul.menu {
    list-style: none;
    padding: 15px;
    white-space: nowrap;
    color : #B3B3B3;
    background: #000;

    .logo-wrapper {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;

        .spotify-logo {
            width:100px;
            padding-right: 0;
            padding-left:5px;
            display:inline-block;
            color:#fff;
            align-self: flex-start;
        }

        .made {
            padding: 10px 0;
            margin-left: 5px;
            align-self: flex-start;
            font-size: 12px;
            text-align: center;
        }
    }

    .fixed-pages {
        position: sticky;

        li {
            padding: 0;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: 700;
            svg {
                margin-right: 10px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    hr   {
        display: block;
        unicode-bidi: isolate;
        margin-block-start: 0.9em;
        margin-block-end: 0.9em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        background: #282828;
    }

    li {
        padding: 0;
        cursor: pointer;
        font-size: 13px;
        font-weight: 800;
        margin-bottom: 8px;

        &.lead {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &.active:before {
            border-left: 3px solid #1db954;
            position: relative;
            left: -18px;
        }
        &:hover::after {
                content: attr(data-owner);
                position: relative;
                font-size: 12px;
                left: 10px;
                color: #fff;
                white-space: nowrap;
        }
    }
}
