.main {
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main main"
      "footer footer footer footer";

      overflow: hidden;
    font-family: "Lato";
    color: #F5F5F5;
    overflow: none;

    .search {
        padding: 8px 69px;
        input {
            width: 176px;
            height: 25px;
            border-radius: 27px;
        }
    }


    .menu-wrapper, .browser-wrapper {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 92vh;

        &::-webkit-scrollbar {
            width: 1em;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #494949;
            outline: 1px solid slategrey;
        }
    }

    .menu-wrapper {
        grid-area: sidebar;
    }

    .browser-wrapper {
        grid-area: main;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgba(28,28,28,1) 0%, rgba(28,28,28,1) 70%, rgba(87,87,87,1) 100%);
        background-position: fixed;
        .browser-inner-wrapper {
            max-width: 1025px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 80px;
        }
    }

    .controls-wrapper {
        position: relative;
        width: 100%;
        background-color: #282828;
        grid-area: footer;
    }
}
