.home {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 32px 24px;

    .albums-row {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        padding: 10px 0;
        margin-bottom: 25px;
        .album {
            width: 240px;
            cursor: pointer;
            .image {
                width: 240px;
                height:240px;
            }
            .card-body {
                padding: 10px 0;
            }
            .card-body .card-text {
                display : block;
                white-space: pre-wrap;
            }
        }
    }
}
