.playing {
    display: grid;
    grid-template-columns: 33%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main";

    text-align: center;
    font-size: 13px;
    height:8vh;

    .image {
        grid-area: sidebar;
        align-self: center;
        img {
            height:8vh;
        }
    }

    .info {
        grid-area: main;
        align-self: center;
        justify-self: start;
    }
}
