.playing {
    position:relative;
    text-align: center;
    font-size: 13px;
    height: 8vh;

    .image {
        float: left;
        img {
            top: 0;
            left: 0;
            height:8vh;
        }
    }

    .info {
        position: relative;
        left: 8px;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        height: 8vh;
        white-space: nowrap;
        text-align: left;
    }
}
