.controls {
    display: grid;
    grid-template-columns: 20%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main main"
      "footer footer footer footer";

    .playing-wrapper {
        grid-area: sidebar;
    }
    .inner-controls {
        grid-area: main;
    }
    &> div:nth-child(2) {
        float:left;
        text-align: center;
        button svg { color: #fff; }
        height: 8vh;
    }
}
