body {
    color: #ffffff;
}
.nav.primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    height: 80px;
}
.nav.primary .avatar {
    display: block;
    position: relative;
}

.nav.primary .avatar .icon img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.nav.primary .avatar .menu.hide {
    display: none;
}
.nav.primary .avatar .menu ul {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    list-style: none;
}

.nav.primary .avatar .menu li:first-child {
    font-size:13px;
}

.list li.selected {
    background: #eee;
}

main {
    overflow: hidden;
}

.playlists {
    width: 240px;
    height: 92vh;
    background-color: #1F1A3C;
}

.content {
    width: 100%;
    height: 92vh;
    background-color: #18142F;
}

.footer .controls {
    background-color: #282148;
    height: 8vh;
}
